<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Users</title>
</head>

<body>
    <h1>All Users Are Given Below :-</h1>
    <hr>
    <% users.forEach(user=>{ %>
        <section>
            <h2>
                <%= user.name%>
            </h2>
            <h3>
                <%= user.age%>
            </h3>
            <p>
                <%= user.email%>
            </p>
            <h4>
                <%= user.profession %>
            </h4>
            <h5>
                <%= user._id %>
            </h5>
            <hr>
        </section>
        <%})%>
</body>

</html>